<body>
    <h1>Add Head of State</h1>

    <form action="/addHoS" method="POST">
        <label>Country Code:</label>
        <input type="text" name="_id"><br>
        <label>Head of State:</label>
        <input type="text" name="headOfState"><br>
        <input type="submit" value="Add">
    </form>
</body>