<h1>Heads Of State</h1>

<a href="/addHos">Add Head of State</a>
<br><br>

<table  border="1">
    <tr>
        <th>Country Code</th>
        <th>Head of State</th>
    </tr>
    <% headsOfStates.forEach((headOfState) =>
    { %>
    <tr>
        <td><%= headOfState._id %></td>
        <td><%= headOfState.headOfState %></td>
    </tr>
    <% }) %>
</table>

<br>
<a href="/">Home</a>