<h1>Heads Of State</h1>

<table  border="1">
    <tr>
        <th>Country Code</th>
        <th>Head of State</th>
    </tr>
    <% headsOfStates.forEach((headOfState) =>
    { %>
    <tr>
        <td><%= headOfState._id %></td>
        <td><%= headOfState.headOfState %></td>
    </tr>
    <% }) %>
</table>